
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

* {
  margin: 0px;
  padding: 0px;
  color: white;
}

body {
  font-family: "Open Sans", "Barlow", sans-serif;
  font-size: 10px;
  background-color:#181818;
  
}

h1 {
  font-family: "Barlow";
  font-size: 5.5em;
  font-weight: 800;
  line-height: 1em;
  padding:10px 0;
}

h2 {
  font-family: "Barlow";
  font-size: 3em;
  font-weight: 700;
  padding: 10px 0px 15px 0;
  line-height: 1.1em;
  letter-spacing: 2px;

}

h3 {
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.6em;
  padding: 5px 0 10px 0;
}

h4 {
  font-size: 1.7em;
  font-weight: 400;
  margin: 8px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

h5 {
  font-size: 1.3em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 8px 0px;
}

h6 {
  font-size: 1.1em;
  font-weight: 400;
  color: #909090;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 8px 0px;
}

p {
  font-size: 1.5em;
  font-weight: 400;
  margin: 10px 0px;
  line-height: 1.5rem;
  color:rgb(211, 211, 211);
}

.letter-space {
  letter-spacing: 1px;
}

/* Margin-top */
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mt80 {
  margin-top: 80px;
}
.mt90 {
  margin-top: 90px;
}
.mt100 {
  margin-top: 100px;
}

/* Margin-bottom */
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb100 {
  margin-bottom: 100px;
}
/* Margin-left */
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml40 {
  margin-left: 40px;
}
.ml50 {
  margin-left: 50px;
}
.ml60 {
  margin-left: 60px;
}
.ml70 {
  margin-left: 70px;
}
.ml80 {
  margin-left: 80px;
}
.ml90 {
  margin-left: 90px;
}
.mr100 {
  margin-left: 100px;
}
/* Margin-right */
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mr40 {
  margin-right: 40px;
}
.mr50 {
  margin-right: 50px;
}
.mr60 {
  margin-right: 60px;
}
.mr70 {
  margin-right: 70px;
}
.mr80 {
  margin-right: 80px;
}
.mr90 {
  margin-right: 90px;
}
.mr100 {
  margin-right: 100px;
}

/* Padding-top */
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt40 {
  padding-top: 40px;
}
.pt50 {
  padding-top: 50px;
}
.pt60 {
  padding-top: 60px;
}
.pt70 {
  padding-top: 70px;
}
.pt80 {
  padding-top: 80px;
}
.pt90 {
  padding-top: 90px;
}
.pt100 {
  padding-top: 100px;
}

/* Padding-bottom */
.pb10 {
  padding-bottom: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb60 {
  padding-bottom: 60px;
}
.pb70 {
  padding-bottom: 70px;
}
.pb80 {
  padding-bottom: 80px;
}
.pb90 {
  padding-bottom: 90px;
}
.pb100 {
  padding-bottom: 100px;
}

/* Padding left */
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt40 {
  padding-top: 40px;
}
.pt50 {
  padding-top: 50px;
}
.pt60 {
  padding-top: 60px;
}
.pt70 {
  padding-top: 70px;
}
.pt80 {
  padding-top: 80px;
}
.pt90 {
  padding-top: 90px;
}
.pt100 {
  padding-top: 100px;
}

/* Padding-left */
.pl10 {
  padding-left: 10px;
}
.pl20 {
  padding-left: 20px;
}
.pl30 {
  padding-left: 30px;
}
.pl40 {
  padding-left: 40px;
}
.pl50 {
  padding-left: 50px;
}
.pl60 {
  padding-left: 60px;
}
.pl70 {
  padding-left: 70px;
}
.pl80 {
  padding-left: 80px;
}
.pl90 {
  padding-left: 90px;
}
.pl100 {
  padding-left: 100px;
}
/* Padding-rigth */
.pr10 {
  padding-right: 10px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 30px;
}
.pr40 {
  padding-right: 40px;
}
.pr50 {
  padding-right: 50px;
}
.pr60 {
  padding-right: 60px;
}
.pr70 {
  padding-right: 70px;
}
.pr80 {
  padding-right: 80px;
}
.pr90 {
  padding-right: 90px;
}
.pr100 {
  padding-right: 100px;
}
.w100{
  width: 100%;
}
.ta{
  text-align: center;
}

a{
  color:rgb(211, 211, 211);

}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.center-div-column{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 80vw;
  padding:15px;
}

.form-backgroud input {
  border: none;
}

form {
  width: 100%;
}
label {
  font-size: 1.3em;
  font-weight: 400;
  margin: 15px 0px 0px 0px;
  display: block;
  text-align: center;
}
input {
  width: 100%;
  margin-bottom: 10px;
  padding: 18px 50px;
  border: 1px solid #a0a0a0;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0);
  color: #a3a3a3;
  font-weight: 400;
  letter-spacing: 1px;
  box-sizing: border-box;
}

select {
  font-family: "Open Sans", sans-serif;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  font-size: 13px;
  background-color: white;
  color: #aaaaaa;
  font-weight: 400;
  letter-spacing: 1px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  padding: 13px 22px;
  border: 2px solid #ffffff;
}

button{
  border:none;
  background-color: transparent;
}

button a {
  letter-spacing: 1px;
}

.black-btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  font-size: 10px;
  padding: 10px 15px;
  border: none;
  text-align: center;
  transition: all 0.3s;
}

.black-btn a {
  color: white;
}
.black-btn a:hover {
  text-decoration: none;
}

.black-btn:hover {
  background-color: white;
  color:black;
}

.white-btn{
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255) ;
  font-size: 10px;
  padding: 7px 7px;
  text-align: center;
}

.fashion-button {
  border-style: none;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0px 15px 0px;
  display: flex;
}
.fashion-button a {
  color: black;
  font-weight: 600;
}
.fashion-button a:hover {
  text-decoration: none;
}
.fashion-button hr {
  border: black 1px solid;
  width: 20px;
  margin: 3px auto 25px auto;
  transition: 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
}
.fashion-button:hover hr {
  border: black 1px solid;
  width: 100%;
  margin: 3px auto 25px auto;
}
.btn-center {
  display: flex;
  justify-content: center;
}

.subtitle{
  margin-top: 10px;
  font-size: 14px;
  color:black;
  letter-spacing: 1px;
  text-decoration: none;
}

.intro {
  width: 85%;
}

@media (min-width: 600px){

}

@media (min-width: 768px){

  h3{font-size: 1.3em;}
  h4{
    font-size: 2em;
    letter-spacing: 0.2em;
    padding: 30px;
  }


}

@media (min-width: 1024px){

}
