.slider {
  width: 100vw;
  height: 40vh;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.slider img {
  width: 100vw;
}

.slider-text {
  position: absolute;
  top: 30%;
  left: 10%;
}

.search-bar {
  width: 80%;
  margin: 0 auto;
}

.movie-card img{
 width: 80%;
}




