.movie-info img{
    width: 80vw;
}

.movie-info, .rate-the-movie, .trailer-display, .cast{
    width: 80%;
    margin:0 auto;
}

.info-extra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.5rem;
    letter-spacing: 0.06rem;
}

iframe {
    width: 80vw;
    height: auto;
}

.cast-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cast-container article{
    width: 40%;
    padding: 10px;
}

.cast-container > article > img {
    width: 100%;
}

@media (min-width: 600px){

}

@media (min-width: 768px){
  
 

}

@media (min-width: 1024px){



}
